<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flagshipwalls.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="com.flagshipwalls.app.MyApp"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name="com.flagshipwalls.app.WallpaperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WallpaperTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="994a62638600757e6ebca8040e1ab94539b25d50" />
    </application>

</manifest>